@import "configuration.css";

#component-app {
	display: flex;
	flex-direction: column;
	margin: 1ex;

	& > #search {
		padding: 0;
		margin: 0;
		height: 32px;
		background-color: var(--backgroundColorSecondary);
		background-image: url(icons/search-16.svg);
		background-repeat: no-repeat;
		background-position: var(--horizontalSpacing) var(--horizontalSpacing);
		color: var(--fontColorSecondary);
		font-size: var(--fontSizeSmall);
		padding-left: calc(var(--horizontalSpacing) + 16px + var(--horizontalSpacing));
		border-style: none;
		border-style: solid;
		border-width: 1px;
		border-color: var(--inputBorderColor);
		border-radius: 4px;

		&:hover {
			border-color: var(--inputHoverBorderColor);
		}

		&:focus {
			border-color: var(--inputFocusBorderColor);
			box-shadow: 0 0 0 1px var(--inputFocusBorderColor), 0 0 0 4px color(var(--inputFocusBorderColor) alpha(30%));
		}
	}
}
