@import "configuration.css";

@import "App.css";

@import "Folder.css";

@import "File.css";

@import "SearchResults.css";

body {
	margin: 0;
	padding: 0;
	background-color: var(--backgroundColor);
	color: var(--fontColor);
	font-size: var(--fontSize);
	font-family: San Francisco, sans-serif;
}
